<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Group Chat</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div id="container">
    <div id="error"></div>
    <p>Chat Room</p>
    <div id="messageBoard" style="border: 2px solid black; width: 500px; height:500px;"></div>
    <form id="newMessage">
      <input type="text" id="message" placeholder="enter your message here">
      <input type="submit" value="Send Message">
    </form>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    var socket = io.connect();
    var currentUser;
    var new_user = function() { // 1 ask for user on document load
      var name = prompt("Please enter your name to chat");
      socket.emit("pageLoad", {user: name}); // 2 send name to server
    }
    new_user();
    socket.on("existingUser", function(data){
      $("#error").html(data.error)
      new_user();
    })
    socket.on("loadMessages", function(data){ // 6 receive user and messages
      $("#error").html("") //resetting the error message
      currentUser = data.currentUser;
      var messages = data.messages;
      var messagesEntries = "";
      for (var i = 0; i < messages.length; i++){
        messagesEntries += "<p>" + messages[i].name + ": " + messages[i].message + "</p>"; // 7 add an entry of user and message
      }
      $("#messageBoard").append(messagesEntries); // 8 show an entry 
    })
    $("#newMessage").submit(function(){ 
      socket.emit("newMessage", {message: $("#message").val(), user: currentUser}) // send message and user to server
      $("#message").val("");
      return false;
    })
    socket.on("postNewMessage", function(data) { // receive user and message from server
      $("#messageBoard").append("<p>" + data.user + ": " + data.newMessage + "</p>"); // append new message to msg board
    })
  })
  </script>
</body>
</html>