<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Counter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<style>
	#but2{
		height: 62px;
		width: 130px;
		background-color: pink;
		border: 3px solid black;
		display: inline-block;
		margin-left: 535px;
		text-align: center;
		color: white;
		border-radius: 5px;
	}
	#but1{
		height: 35px;
		width: 80px;
		background-color: aqua;
		border: 3px solid black;
		display: inline-block;
		margin-left: 54%;
		text-align: center;
		color: white;
		border-radius: 5px;
	}
	</style>
</head>
<body>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<h1 class="row justify-content-center"> Counter </h1>	
	<p id="count" class="row justify-content-center"></p>
	<button id="but2" class="row justify-content-center">Push the epic button</button>
	<button id="but1" class="row justify-content-center">Reset</button>

	<script type ="text/javascript">
        $(document).ready(function count(){
			 var socket = io.connect(); // 1 establish connection
           // submit data to the server using emit
           $('#but2').click(function () {  // 3 on submit, run function
                   console.log("counter");
                   socket.emit("counter", { // 4 send form to server
              	});
     		});
           $('#but1').click(function () {  // 3 on submit, run function
                   console.log("reset");
                   socket.emit("reset", { // 4 send form to server
              	});
     		});
     
	     socket.on('count', function (data){ // 7, run this function
	         $('#count').html("This button has been pushed " + JSON.stringify(data.response) + " time(s)");
	     });
	 });
    </script>
</body>
</html>
