<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>
	<!-- tip to easily see objects printed in full instead of [object Object] -->
	<!-- <%- JSON.stringify(messages) %>  -->
	<!-- based on the structure of your messages, determine how to display them -->
	<% if(messages.registration) { %>
	     <% for (var x of messages.registration) { %>
	      <h3><%= x %></h3>
	     <% } %>
	 <% } %>
	
	<form action='/add' method='post'>
		Name: <input type='text' name='name'>
		Breed: <input type='text' name='breed'>
		<button>Submit</button>
	</form>
</body>
</html>
