<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Books & Authors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<p> books html page </p>
 
<h2>{{ book.title }}</h2>
<h3>ID: {{ book.id }} </h3>
<h3>Description: {{ book.description }} </h3>

<ul>Authors:</ul>
{% for author in authors %}
<li> {{ author.first_name}} {{ author.last_name }}</li>
{% endfor %}

<form action="/link/{{ book.id }}" method="POST">
  {% csrf_token %}
  <select name='authorid'>
    {% for all in all_a %}
      <option value={{all.id}}>{{ all.first_name }} {{ all.last_name }}</option>
    {% endfor %}
  </select>
  <button>Add</button>
</form>

</body>
</html>