<!DOCTYPE html>
<html>
<head>
	<title>Cats Page 1</title>
</head>
<body>
	<h1>Cats Page</h1>
	<a href="sleepy"><img src="images/img4.jpeg">
	<a href="blue"><img src="images/img5.jpeg">
	<a href="crazy legs"><img src="images/img6.jpeg">
</body>
</html>
