<h1>Show Page</h1>
<h3>Submitted Info:</h3>
    <p>Name: <%= data.name %></p>
    <p>Dojo Location: <%= data.loc %> </p>
    <p>Favorite Language: <%= data.lang %></p>
    <p>Comment: <%= data.comm %></p>
